<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.0.4" package="com.thestartupcoders.moviesuggesterai">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/iconlogo" android:name="com.thestartupcoders.moviesuggesterai.Application" android:allowBackup="true">
        <activity android:theme="@style/Theme.NoTitleBar" android:label="@string/app_name" android:name="com.thestartupcoders.moviesuggesterai.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.thestartupcoders.moviesuggesterai.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.thestartupcoders.moviesuggesterai.MAINACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.thestartupcoders.moviesuggesterai.MovieList" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.thestartupcoders.moviesuggesterai.MOVIELIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.thestartupcoders.moviesuggesterai.About" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.thestartupcoders.moviesuggesterai.ABOUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
